
<!DOCTYPE html>
<html>
<head>
  <title>Node Socket IO App</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <script src="/js/jquery.js"></script>
</head>
<body>
  <input id="name" type="text" placeholder="Enter your name">
  <input id="message" name="message" placeholder="Enter your message">
  <br>
  <button id="send">Send</button>

  <div id="chatbox">
    <!-- contains chat messages -->
  </div>


  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    var $name = $('#name');
    var $message = $("#message");
    var $chatbox = $("#chatbox");

    socket.on("hello", function(message) {
      console.log("hello from server, the admin is " + message.admin);
    });

    $("#send").on('click', function(event){
      socket.emit("CLICK", {name: $name.val(), message: $message.val()});
      $name.val('');
      $message.val('');
    });

    socket.on("transmission", function(msg){
      var $p = $("<p>");
      $p.text(msg.name + ": " + msg.message);
      $chatbox.append($p)
    });
  </script>

</body>
</html>
